*{
    margin: 0;
    padding: 0;
}
.wp{
    display: flex;
    justify-content: space-between;
}
#updateDivCandy{
    display: none;
    margin: 10px 0;
    /* border: 1px solid #aaa; */
}
  input{
      margin-bottom: 15px;
      padding: 5px;
  }
  .newImg{
      margin-top: 10px;
      width: 300px;
      height: 300px;
      border: 1px solid #cccccc;
  }
.item{
    padding: 10px;
    width: 20%;
}
  .item img{
      width: 200px;
      height: 200px;
  }
  .showDiv{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  button.updNP,button.updI,button.overupdNP,button.overupdI{
      width: 60px;
      height: 30px;
  }
 div.add{
    border: 1px solid #aaa;
    width: 60px;
    height: 30px;
    margin: 10px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    background: #e5e5e5;
 }
 /* div.updP,div.updPr{
    padding-left: 50px;
 } */
 div.updPr{
     color: #cc0000;
     font-size: 24px;
 }
 div.updIf{
     font-size: 15px;
 }
 a{
    text-decoration: none;
    color: black;
 }
 button{
    margin-left: 5px;
    width: 60px;
    height: 30px;
}